@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --lexend-deca-: "Lexend Deca", sans-serif;
    --pt-serif: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: var(--lexend-deca-);
}


/* .tourlist1{
    background-image: url(_images/265643-wilderness-wallpaper-top-free-wilderness-background.jpg);
    background-position: center;
    padding: 22vh 8rem;
    height:35rem;
    object-fit: contain;
}

.tourlist1>*{
    font-family: var(--lexend-deca-);
    padding-bottom: 2rem;
    color: white;
    font-size: 1.8rem;
}

.tourlist1 h1{
    font-family: var(--pt-serif);
    font-size: 3rem;
}

.tourlist1 p{
    height: 50px;
    width: 200px;
    background-color: rgb(159, 205, 50);
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.tourlist1 p:hover{
    background-color: rgb(65, 119, 3);
}

@media(max-width:900px){
    .tourlist1{
        padding: 10vh 6rem;
        height:auto;
    } 

    .tourlist1>*{
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .tourlist1 h1{
        font-size: 2.5rem;
    }

    .tourlist1 p{
        height: 40px;
        width: 150px;
        padding: 8px 0;
        font-size: 1.2rem;
    }
}

@media(max-width:450px){
    .tourlist1{
        padding: 10vh 2rem;
    } 

    .tourlist1 h1{
        font-size: 2rem;
    }

    .tourlist1 p{
        height: 40px;
        width: 150px;
        padding: 8px 0;
        font-size: 1.2rem;
    }
} */

.mainPic {
    height: 60vh;
    position: relative;

}

.mainPic img {
    object-fit: cover;
    filter: brightness(90%);
}

.picLabel {
    position: absolute;
    top: 40%;
    left: 15%;
}

.picLabel h2 {
    font-family: var(--lexend-deca-);
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 5wh;
}

.picLabel h1 {
    font-family: var(--pt-serif);
    color: white;
    margin: 20px 0;
    font-size: 4rem;
    font-weight: bold;
}

@media (max-width: 900px){

    .mainPic {
        height: auto;    
    }

    .mainPic img {
        height: 60%;
    }
    
    .mainPic h2{
        font-size: 3vw;
    }

    .mainPic h1{
        font-size: 3vw;
    }

    .picLabel{
        top: 30%;
    }
}
    
@media (max-width: 600px){
    .mainPic h2{
        font-size: 1rem;
    }
    .mainPic h1{
        font-size: 1.2rem;
    }
}

/* tourlist2 */

.tourlist2{
    font-size: 1.2rem;
    text-align: center;
    padding: 10rem 10vw 2rem 10vw;
}

.tourlist2 p{
    padding: 2rem 0;
}

.tourlist2 .bold{
    font-weight: bolder;
}

@media(max-width:900px){
    .tourlist2{
        padding: 4rem 10vw;
        font-size: 1.1rem;
    }
}

/* tourlist3 */
.tourlist3{
    display: flex;
    flex-direction: column;
    background-color: #E9E9E9;
    padding: 0 8rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

/* flexbox */
.flexcategories {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.flexcategories .categorie:first-child{
    background-color: rgb(125, 188, 53);
}

.flexcategories .categorie{
    height: 220px;
    width: 220px;
    border-radius: 0;
    background-color: rgb(186, 181, 181);
    cursor: pointer;
}

.flexcategories .categorie:hover{
    border-radius: 10%;
    background-color: rgb(65, 119, 3);
}

.flexcategories .container {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
    color: white;
}

.flexcategories .noOfDays {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(65, 119, 3);
    border-radius: 50%;
    font-size: 300%;
}

@media (max-width:900px) {
    .tourlist3{
        padding: 2rem 1rem;
    }
    .flexcategories{
        gap: 10px;
        justify-content: space-evenly;
    }
}

@media (max-width:600px){

    .flexcategories {
        height: 25rem;
    }
    .flexcategories .container {
        width: 150px;
        height: 150px;
    }
    
    .flexcategories .noOfDays {
        width: 80px;
        height: 80px;
        font-size: 200%;
    }
    
    .flexcategories h3{
        font-size: 1rem;
    }

    .flexcategories .categorie {
        height: 160px;
        width: 150px; 
        border-radius: 0;
    }
}


/* cards */

.card{
    margin-bottom: 2.5rem;
    text-align: initial;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display:inline-grid;
    grid-template-columns: 25.5vw 60vw;
    grid-template-rows: 30rem;
    opacity: 1;
    transition: 0.6s ease;
}

.cards:hover>:not(:hover){
    opacity: 0.4;
    
}

.cards:hover html{
    
    z-index: 20;
}

.image{
    grid-area: 1 / 1 / 3/ 2;
    width: 100%;
    height: 100%;
    max-height: 42rem;
}

img{
    object-fit: cover;
    transition: 0.2s;
}


.highlightsContent1{
    grid-area: 2 / 1 / 3 / 2;
    display: none;
    padding: 3rem;
    background-color:#E9E9E9;
}

.bold {
    font-weight: 600 !important;
}
.contentinfo{
    width: 90%;
    margin: 2rem auto;
    border-bottom: 3px solid  rgb(218,218,218); 
    font-size: 1.2rem;
}

.titlehead{
    grid-area: 1/2/3/3;
    padding: 3rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title price" 
                         "content content"
                         "review detials";
    row-gap: 3rem
}

.titlehead .titleInfo{
    grid-area: title;
}

.titlehead .tourlistRate{
    grid-area: price;
    text-align: right;
}

.titlehead .tourlistRate>*
,.titlehead .titleInfo>*{
    margin-bottom: 0.5rem;
}

.pLabel {
    display: inline-block;
    font-size: 1.8rem;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: #9fcd32;
    cursor: pointer;
}
/* 
.small {
    font-size: 1.1rem;
    opacity: 0.7;
} */

.tourlistPara{
    grid-area: content;
    padding-left: 2rem;
    border-left: 2px solid #d1d1d1;
    font-size: 1.4rem;
    
}

.tourlistPara::first-line{
    font-weight:600;
}


.tourlistPara_hidden{
    display: none;
}

.starreview{
    grid-area: review;
}

.detials{
    grid-area: detials;
    text-align: right;
}

.btn{
    padding: 1.5rem 4rem;
    background-color: #9fcd32;
    color: #fff;
    cursor: pointer;
}


.hiddenbtn {
    display: none
}

/* .card:hover{
    z-index: 10;
} */

.card:hover .image{
    grid-area: 1/1/2/2;
}

.card:hover img{
    scale: 1.1;
}
.card:hover .highlightsContent1{
    display: block;
}

.card:hover .tourlistPara_hidden{
    display: block;
}

.card:hover .iconBox{
    display: none;
}

.card:hover .hiddenbtn{
    display: block;
}


.booknow{
    padding-top: 1rem;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.booknow a{
    text-align: center;
    height: 60px;
    width: 180px;
    color: white;
    background-color: #9fcd32;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.1rem 2rem;
}

.card{
    margin-bottom: 2.5rem;
    text-align: initial;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display:inline-grid;
    grid-template-columns: 25.5vw 60vw;
    grid-template-rows: 30rem;
}


@media (max-width:1500px){

    .tourlist3{
        padding: 0 5vw;
    }

}

@media (max-width:900px){

    .tourlist3{
        padding: 0 3vw;
    }
    .card{
        grid-template-columns: 90vw;
        grid-template-rows: 20rem;
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .highlightsContent1{
        grid-area: 2/1/3/2;
    }

    .titlehead{
        grid-area: 3/1/4/2;
    }
}

@media (max-width:400px){

    .tourlist3{
        padding: 0 vw;
    }
    .card{
        grid-template-columns: 94vw;
        grid-template-rows: 15rem;
    }

    .titlehead{
        padding: 2rem 1rem;
    }

    .tourlistPara{
        font-size: 1rem;
    }
    
    .starreview{
        font-size: 0.9rem;
    }
    
    .detials .iconBox{
        font-size: 0.7rem;
    }

    .pLabel{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

/* tourlist4 */

.tourlist4 {
    display: flex;
    padding: 6rem 10rem;
    width: 100%;
     
}

.tourlist4 .box {
    flex-basis: 33.34%;
    position: relative;
    min-height: 20rem;
}

.tourlist4 .box img {
    object-fit: cover;
    position: absolute;
    
}

.tourlist4 .box .imageInfo {
    position: absolute;
    color: white;
    bottom: 0;
    left: 40px;
}

.tourlist4 .imageInfo h3 {
    font-size: 2rem;
    font-weight: bold;
}

.tourlist4 .imageInfo h4 {
    width: 80px;
    height: 40px;
    font-size: 1.2rem;
    background-color: rgb(159, 205, 50);
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;

}

.tourlist4 .imageInfo p {
    font-size: 1.2rem;
    margin-bottom: 5px;
    visibility: hidden;
}

.tourlist4 .box:hover img {
    cursor: pointer;
    filter: brightness(50%);
    transition: 0.3s;
}

.tourlist4 .box:hover .imageInfo p {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;

}

.tourlist4 .box:hover .imageInfo {
    bottom: 50px;
    transition: 0.5s;
}

.photoGallery {
    padding: 6rem 0;
}

.photoGallery h2 {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 2.2rem;
} 

@media(max-width:900px){
    .tourlist4{
        flex-direction: column;
        padding: 2rem 0rem;
        gap: 1rem;
    }
}


@media(max-width:400px){
    .tourlist4 .box{
        flex-direction: column;
        padding: 0.5rem 0rem;
        gap: 0.5rem;
    }

    .tourlist4 .imageInfo h3{
        font-size: 1.5rem;
    }

    .tourlist4 .imageInfo h4{
        width: 60px;
        height: 35px;
        padding: 5px 0;
    }

    .tourlist4 .imageInfo p{
        font-size: 1rem;
    }

}




